header a {
  margin: auto 15px auto 15px;
}

header {
  border-bottom: grey solid 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  margin: auto 20px auto 20px;
}


.logo {
  max-height: 50px;
}

.btn {
  margin: auto;
}
