<h2>Mission Control</h2>
<button (click)="announce()">Announce mission</button>
<!-- <app-astronaut *ngFor="let astronaut of astronauts"
  [astronaut]="astronaut">
</app-astronaut> -->
<h3>History</h3>
<ul>
  <li *ngFor="let event of history">{{event}}</li>
</ul>


<div *ngFor = 'let plateNum of plates' id="plate{{ plateNum }}">

  <h3>plate {{ plateNum }}</h3>

  <div class="half">
  <app-plate-heatmap [plate_num]='plateNum' [df]='DF'></app-plate-heatmap>
  </div>

  <div class="half">
  <app-distrib-plot [plate_num]='plateNum' [df]='DF'></app-distrib-plot>
  </div>

</div>
