<!-- <app-heatmap-scalebar></app-heatmap-scalebar> -->

<!-- <nav *ngFor = "let plate of plates">
  <a href="#plate{{plate}}">plate {{ plate }}</a>
</nav>

<div *ngFor = "let plate of plates" id = "plate{{plate}}">
  <h3>plate {{ plate }}</h3>


</div> -->
<button (click) = "showAvg($event)">Show average</button>
<button (click) = "showAvg($event)">Change to linear scale</button>

<div class="heatmap" id="heatmap{{plate}}" #chart>
</div>


<!--
<table>
<thead>
  <tr>
    <th *ngFor="let col of cols">
      {{col}}
    </th>
  </tr>
  </thead>

  <tbody>
<ng-container *ngFor="let row of fluorcts">
    <tr>
      <th scope="row" rowspan="2">{{row.row}}</th>
      <td colspan="3">sample {{row.row}}</td>
      </tr>
      <tr>
      <td *ngFor="let cell of row.fluor" [ngStyle] = "{'background': cell.fill, 'color': cell.color}">
        {{cell.cts}}
      </td>
    </tr>
    </ng-container>
  </tbody>

</table> -->
