<!-- <app-heatmap-scalebar></app-heatmap-scalebar> -->


<div  id="heatmap" #chart>

<!-- 
<table>
<thead>
  <tr>
    <th *ngFor="let col of cols">
      {{col}}
    </th>
  </tr>
  </thead>

  <tbody>
<ng-container *ngFor="let row of fluorcts">
    <tr>
      <th scope="row" rowspan="2">{{row.row}}</th>
      <td colspan="3">sample {{row.row}}</td>
      </tr>
      <tr>
      <td *ngFor="let cell of row.fluor" [ngStyle] = "{'background': cell.fill, 'color': cell.color}">
        {{cell.cts}}
      </td>
    </tr>
    </ng-container>
  </tbody>

</table> -->
