@import '~_custom_colors.scss';

// .big {
//   width: 1000px;
// }
/* Container */
.heatmap {
  position: absolute;
  width: 1300px;
  height: 600px;
  // background-color: aliceblue;
}


// Heatmap styling
.indiv-heatmap {
  stroke: grey;
  stroke-dasharray: 4,4;
  stroke-width: 1px;
}

.dashed {
  stroke-dasharray: 4,4;
}

.avg-border {
  fill: none;
  stroke: $grey-600;
  stroke-width: 2px;
  // ;
}

.axis--x path, .axis--x line, .axis--y path, .axis--y line {
  display: none;
}

.axis text {
  fill: $grey-400;
  font-size: 1.75em;
}

// Annotations
.annotation {
  alignment-baseline: mathematical;
  text-anchor: middle;
}

.avg-label {
  font-size: 24px;
}
