<!-- <mat-horizontal-stepper linear="true" #stepper> -->

<!-- Change the template to "done" icon -->
  <!-- <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>


  <mat-step [completed] = "isUploaded">
    <ng-template matStepLabel>Load your data</ng-template>

    <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br/>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
        </tr>
      </tbody>
    </table>

    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Upload files</ng-template>
    Content 2

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>





  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">

      <ng-template matStepLabel>Upload files</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl">
      </mat-form-field>


      <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br/>

      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
          </tr>
        </tbody>
      </table>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Review experiment parameters</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

</mat-horizontal-stepper> -->


<app-upload-files></app-upload-files>
