@import '~_custom_colors.scss';

#distrib-dotplot {
  position: absolute;
  left: 700px;
  width: 650px;
  height: 650px;
  // background-color: lighten(aliceblue, 1.4);
}

.indiv {
  stroke: black;
  stroke-width: 1;
  fill: $grey-200;
}

.avg {
  stroke: black;
  stroke-width: 2;
}

.ref-line {
  stroke: $grey-400;
  stroke-width: 1;
}

.ctrl-line {
  stroke: $grey-300;
  stroke-dasharray: 6,6;
}

.avg-glow {
  stroke-width: 10;
  opacity: 0.5;
}

.axis--x line, .axis--x path, .axis--y path {
  display: none;
}

.axis--x text {
  font-size: 1em;
  color: $grey-800;
 }

 .axis--y text {
   color: $grey-400;
  }

.axis--y line {
  stroke: $grey-400;
}

.divider {
  stroke: white;
  stroke-width: 5;
}

.expt-sample {
  opacity: 0.1;
}

.display-off {
  display: none;
}

.ctrl-label {
  text-anchor: middle;
}

.ref-label {
  fill: $grey-400;
  font-weight: 300;
  font-family: 'Assistant', sans-serif;
}

.right {
  text-anchor: end;
}
